/* 共通 css */
:root {
    --font-color: #121212;
}
* {
    box-sizing: border-box;
    color: var(--font-color);
}
body {
    font-family: "Noto Sans JP", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", serif;
    margin: unset;
}
img {
    display: block;
    width: 100%;
}
h1, h2, p, ul, menu {
    margin: unset;
    padding: unset;
}
li {
    list-style: none;
}
h2 {
    font-weight: bold;
    font-size: 20px;
}
h3 {
    font-weight: bold;
    font-size: 20px;
}
p {
    font-size: 16px;
}
a, a:visited {
    font-size: 14px;
    text-decoration: none;
}
p.copy {
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
}
div.container {
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}

/* 狭い画面向けの CSS  */
header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 18px;
    background-color: #FFFFFF;
    z-index: 1;
}
header img {
    width: 180px;
}
header div#hamburger {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    cursor: pointer;
    z-index: 1;
}
header div#hamburger.open {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    align-items: flex-end;
    padding: 23px 18px;
}
header div#hamburger span {
    display: block;
    background-color: var(--font-color);
    width: 30px;
    height: 2px;
    transition: all 1s ease;
}
header div#hamburger span.open:first-of-type {
    background-color: #FFFFFF;
    animation: 1s forwards span1_open;
}
header div#hamburger span.close:first-of-type {
    background-color: #000000;
    animation: 1s forwards span1_close;
}
header div#hamburger span.open:nth-of-type(2) {
    background-color: #FFFFFF;
    opacity: 0;
}
header div#hamburger span.close:nth-of-type(2) {
    background-color: #000000;
    opacity: 1;
}
header div#hamburger span.open:last-of-type {
    background-color: #FFFFFF;
    animation: 1s forwards span3_open;
}
header div#hamburger span.close:last-of-type {
    background-color: #000000;
    animation: 1s forwards span3_close;
}
@keyframes span1_open {
    0% {
        transform: translateY(12px) rotate(0deg);
    }
    100% {
        transform: translateY(12px) rotate(-405deg);
    }
}
@keyframes span1_close {
    0% {
        transform: translateY(12px) rotate(-405deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}
@keyframes span3_open {
    0% {
        transform: translateY(-12px) rotate(0deg);
    }
    100% {
        transform: translateY(-12px) rotate(405deg);
    }
}
@keyframes span3_close {
    0% {
        transform: translateY(-12px) rotate(405deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}
aside {
    padding: 35px 25px;
    width: 300px;
    background-color: #FFFFFF;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2;
    transform: translateX(-300px);
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
aside.open {
    opacity: 1;
    transform: translateX(0px);
}
aside menu,
aside ul {
    display: grid;
    row-gap: 20px;
}
video {
    height: 528px;
    position: fixed;
    top: 72px;
    z-index: -1;
}
h2 {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 10%;
    margin-bottom: 30px;
}
h2::before,
h2::after {
    content: "";
    flex-grow: 1;
    height: 1px;
}
main {
    padding-top: calc(528px + 72px);
    z-index: 0;
    position: relative;
}
main article {
    padding-top: 60px;
    padding-bottom: 60px;
}
main article#Examples {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
    position: relative;
    z-index: -1;
}
main article#Examples h2 {
    color: #FFFFFF;
}
main article#Examples h2::before,
main article#Examples h2::after {
    background-color: #FFFFFF;
}
main article#Examples .grid {
    display: grid;
    row-gap: 30px;
}
main article#Examples .shadow {
    box-shadow: inset 0 -30px 15px 1px var(--font-color);
    position: relative;
    border: 1px solid #FFFFFF;
}
main article#Examples span {
    color: #ffffff;
    font-size: 12px;
    margin: 4px 7px;
    position: absolute;
    bottom: 0;
}
main article#Examples img {
    position: relative;
    z-index: -1;
}

main article#About {
    background-color: rgba(0, 0, 0, 0.8);
    padding-bottom: 120px;
}
main article#About h2 {
    color: #FFFFFF;
}
main article#About h2::before,
main article#About h2::after {
    background-color: #FFFFFF;
}
main article#About div.flex {
    display: flex;
    column-gap: 5%;
    justify-content: center;
}
main article#About a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}
main article#About a::after {
    content: "";
    position: absolute;
    width: 100%;
    aspect-ratio: 1 / 1;
    transition: all 0.5s ease-out;
    background-color: rgb(255 255 255 / 20%);
    transform: translateX(-100%);
}
main article#About a:hover::after {
    transform: translateX(0);
}
main article#About p:first-of-type {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
}
main article#About p:last-of-type {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

main article#Flow {
    background-color: #FFFFFF;
}
main article#Flow h2::before,
main article#Flow h2::after {
    background-color: var(--font-color);
}
main article#Flow h2 + p {
    padding-bottom: 30px;
}
main article#Flow div.flow_chart {
    position: relative;
    display: grid;
    row-gap: 30px;
    padding: 0 20px;
}
main article#Flow div.flow_chart::before {
    content: "";
    background-color: #FFDD00;
    position: absolute;
    right: 50%;
    transform: translateX(25px);
    width: 50px;
    height: 95%;
}
main article#Flow div.flow_chart p {
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    background-color: #414141;
    padding: 30px 0;
    position: relative;
}
main article#Flow div.flow_chart div.triangle  {
    background-color: #414141;
    height: 30px;
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}
main article#Flow ol.flow_details {
    margin-top: 50px;
    counter-reset: li;
    display: grid;
    row-gap: 43px;
}
main article#Flow ol.flow_details li {
    position: relative;
}
main article#Flow ol.flow_details li:before {
    counter-increment: li;
    content: counter(li);
    position: absolute;
    left: -40px;
    background-color: #414141;
    color: #ffffff;
    width: 35px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main article#Flow ol.flow_details p:first-of-type {
    font-size: 20px;
    border-bottom: 1px solid var(--font-color);
    padding-bottom: 10.5px;
    margin-bottom: 10px;
}


main article#Contact {
    background-color: #FFFFFF;
    padding-bottom: 120px;
}
main article#Contact h2::before,
main article#Contact h2::after {
    background-color: var(--font-color);
}
main article#Contact h2 + p {
    padding-bottom: 30px;
}
main article#Contact p + div {
    display: grid;
    row-gap: 20px;
    justify-content: center;
}
main article#Contact a {
    border: solid 1px var(--font-color);
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
}
main article#Contact a::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--font-color);
    right: 4px;
    bottom: 4px;
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}
main article#Contact a:hover {
    box-shadow: 0px 0px 0px 3px var(--font-color);
    transition: all 0.25s;
}
main article#Contact img {
    width: 64px;
    aspect-ratio: 1 / 1;
}


footer {
    background-color: var(--font-color);
    padding-top: 50px;
    padding-bottom: 20px;
}
footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 10px;
    padding-bottom: 60px;
}
footer ul li {
    display: flex;
    column-gap: 20px;
}
footer ul li:not(:last-of-type)::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #ffffff;
}
footer ul li a {
    color: #ffffff;
}



div#ScrollButton {
    cursor: unset;
    width: 50px;
    aspect-ratio: 1 / 1;
    background-color: black;
    border: 1px solid #ffffff;
    border-radius: 50%;
    position: fixed;
    right: 25px;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.25s;
}
div#ScrollButton.show {
    opacity: 1;
    cursor: pointer;
}
div#ScrollButton::after {
    content: "";
    display: block;
    width: 14px;
    height: 7px;
    background-color: #fff;
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}



/* 広い画面向けの CSS */
@media (min-width: 960px) {
h2 {
    font-size: 28px;
}
header img {
    width: 200px;
}
}
