/* 共通 css */
:root {
    --main-bg-color: #FFFFFF;
    --sub-bg-color: #121212;
    --font-color: #121212;
}
* {
    box-sizing: border-box;
    color: var(--font-color);
}
body {
    font-family: "Noto Sans JP", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", serif;
    margin: unset;
}
img {
    display: block;
}
h1, h2, p, ul, menu {
    margin: unset;
    padding: unset;
}
li {
    list-style: none;
}
h2 {
    font-weight: bold;
    font-size: 20px;
}
h3 {
    font-weight: bold;
    font-size: 20px;
}
p {
    font-size: 16px;
}
a, a:visited {
    font-size: 14px;
    text-decoration: none;
}
p.copy {
    font-size: 12px;
}
div.container {
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}

/* 狭い画面向けの CSS  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 18px;
}
header img {
    width: 180px;
}
div#hamburger {
    display: grid;
    row-gap: 10px;
}
header div#hamburger span {
    display: block;
    background-color: var(--font-color);
    width: 30px;
    height: 2px;
}
aside {
    display: none;
}
video {
    width: 100%;
}


/* 広い画面向けの CSS */
@media (min-width: 960px) {
h2 {
    font-size: 28px;
}
header img {
    width: 200px;
}
}
