/* 共通 css */
:root {
    --main-bg-color: #FFFFFF;
    --sub-bg-color: #121212;
    --font-color: #121212;
}
* {
    box-sizing: border-box;
    color: var(--font-color);
}
body {
    font-family: "Noto Sans JP", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", serif;
    margin: unset;
}
img {
    display: block;
}
h1, h2, p, ul, menu {
    margin: unset;
    padding: unset;
}
li {
    list-style: none;
}
h2 {
    font-weight: bold;
    font-size: 20px;
}
h3 {
    font-weight: bold;
    font-size: 20px;
}
p {
    font-size: 16px;
}
a, a:visited {
    font-size: 14px;
    text-decoration: none;
}
p.copy {
    font-size: 12px;
}
div.container {
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}

/* 狭い画面向けの CSS  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 18px;
}
header img {
    width: 180px;
}
div#hamburger {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    cursor: pointer;
    z-index: 1;
}
div#hamburger.open {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    align-items: flex-end;
    padding: 23px 18px;
}
header div#hamburger span {
    display: block;
    background-color: var(--font-color);
    width: 30px;
    height: 2px;
    transition: all 1s ease;
}
header div#hamburger span.open:first-of-type {
    background-color: #FFFFFF;
    animation: 1s forwards span1_open;
}
header div#hamburger span.close:first-of-type {
    background-color: #000000;
    animation: 1s forwards span1_close;
}
header div#hamburger span.open:nth-of-type(2) {
    background-color: #FFFFFF;
    opacity: 0;
}
header div#hamburger span.close:nth-of-type(2) {
    background-color: #000000;
    opacity: 1;
}
header div#hamburger span.open:last-of-type {
    background-color: #FFFFFF;
    animation: 1s forwards span3_open;
}
header div#hamburger span.close:last-of-type {
    background-color: #000000;
    animation: 1s forwards span3_close;
}
@keyframes span1_open {
    0% {
        transform: translateY(12px) rotate(0deg);
    }
    100% {
        transform: translateY(12px) rotate(-405deg);
    }
}
@keyframes span1_close {
    0% {
        transform: translateY(12px) rotate(-405deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}
@keyframes span3_open {
    0% {
        transform: translateY(-12px) rotate(0deg);
    }
    100% {
        transform: translateY(-12px) rotate(405deg);
    }
}
@keyframes span3_close {
    0% {
        transform: translateY(-12px) rotate(405deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}
aside {
    /* display: none; */
    width: 300px;
    background-color: #FFFFFF;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    transform: translateX(-300px);
    transition: all 0.5s;
}
aside.open {
    opacity: 1;
    transform: translateX(0px);
}
video {
    width: 100%;
}


/* 広い画面向けの CSS */
@media (min-width: 960px) {
h2 {
    font-size: 28px;
}
header img {
    width: 200px;
}
}
